@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back-color:#2EC76C;
  --link-color:#5BB8EC;
  --head-font: 20px;
  --sub-font: 16px;
}
h1,h2,h3,h4,h5,h6 {
  /* font-family: 'Alexandria', sans-serif; */
  font-family: 'Alexandria', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
body {
  overflow-x: hidden;
}

.form-check-input:checked {
  background-color: #42B749 !important;
  border-color: #42B749 !important;
}
.form-control:focus {
  border-color: #42B749 !important;
  outline: 0;
  box-shadow: none !important;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none!important;
}

.log-bg {
  background-image: url('../images/bgimg.png');
  background-repeat: no-repeat;
  width:100%;
  /* height:100vh; */
  background-size: 100% 100%;
}
.log-cent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:100vh; */
}

.log-card {
  background: #fff;
  width: 501px;
  /* height: 719px; */
  flex-shrink: 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
}
.log-card h4 {
  font-size: 24px;
  font-weight: 700;
}
.remember {
  display:flex;
  justify-content: space-between;
}
.remember span button {
  color:#42B749;
}
.login-btn button {
  background: #42B749;
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}
.login-btn .btn:hover {
  background: #2EC76C !important;
}
.log-contiune {
  width: 100%;
  padding: 20px 0;
  max-width: 500px;
  margin: 0 auto;
}
.log-contiune p {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-contiune p:before,
.log-contiune p:after {
  content: "";
  width:30%;
  height: 1px;
  background: #585858;
}

.log-contiune p:before{
  margin: 0 20px 0 0;
}

.log-contiune p:after{
  margin: 0 0 0 20px;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon >div {
    background: #F0F3F6;
    border-radius: 6px;
    width: 52px;
    height: 52px;
    margin: 10px;
    line-height: 52px;
    text-align: center;
    cursor: pointer;
}
.social-icon >div img {
  width: 32px;
  height: 32px;
}
.register-now {
  text-align: center;
  padding: 20px;
}

/*  Login Otp */

.form-otp {
  margin:10px;

}
.form-otp input {
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  border: 1px solid #dee2e6;
  margin-right: 4px;
}